<header class="header">
		<nav class="navbar navbar-expand-lg navbar-light">
			<a href="/" class="align-items-center"><img src="../assets/basiclogo_E_H.png" class="navbar-brand" width="160px" alt=""></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    Menu
		  </button>
		  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
		    <ul class="navbar-nav">
		      <li class="nav-item px-2">
						<a class="nav-link" routerLink="/notice" routerLinkActive="active">공지사항</a>
		      </li>
		      <li class="nav-item px-2">
						<a class="nav-link" routerLink="/lecture" routerLinkActive="active">강의자료</a>
		      </li>
		      <li class="nav-item px-2">
		        <a class="nav-link" routerLink="/content" routerLinkActive="active">과제</a>
		      </li>
					<li class="nav-item px-2">
		        <a class="nav-link" routerLink="/" routerLinkActive="active">내정보</a>
		      </li>
		    </ul>
		  </div>
		</nav>
</header>
