<header class="header">
		<nav class="navbar navbar-expand-lg navbar-light">
			<div class="container">
				<a href="/" class="align-items-center"><img src="../assets/로고3.png" class="navbar-brand" width="128px" alt=""></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    Menu
			  </button>
			  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
			    <ul class="navbar-nav">
			      <li class="nav-item px-2">
								<a class="nav-link" href="/" routerLinkActive="active">HOME</a>
			      </li>
			      <li class="nav-item px-2">
							<a class="nav-link" routerLink="/lecture" routerLinkActive="active">MEMBER</a>
			      </li>
			      <li class="nav-item px-2">
			        <a class="nav-link" routerLink="/content" routerLinkActive="active">GALLERY</a>
			      </li>
						<li class="nav-item px-2">
			        <a class="nav-link" routerLink="/notice" routerLinkActive="active">PROJECT</a>
			      </li>
			    </ul>
			  </div>
			</div>
		</nav>
</header>

<div class="heading d-flex align-items-center justify-content-center">

<h1 class="main-heading">멋쟁이</h1>
<h1 class="main-heading">
  <div href="#" class="typewrite" data-period="2000" data-type='[ "&nbsp;동준처럼", "&nbsp;지우처럼", "&nbsp;경화처럼", "&nbsp;재현처럼", "&nbsp;효빈처럼", "&nbsp;경덕처럼", "&nbsp;남주처럼", "&nbsp;유림처럼", "&nbsp;정훈처럼", "&nbsp;용석처럼", "&nbsp;혜현처럼" ]'>
  </div>
</h1>

</div>
<div class="container">

</div>
